.background{

-fx-background-color: #ffffff;
}
.button
{
-fx-background-color: #ffffff;
}
.card-stext{

-fx-font-color: #ffffff;
}

.input-box {

    -fx-border-color: #000000 ;
    -fx-border-width: 1;

}

#sparaKnapp:focus {
    -fx-background-color: #FFFFFF;

}

#blueButtons:hover {
    -fx-background-color: #00ff00;

}

#blueButtons {
    -fx-background-color: #5697ef;
}

.redbuttons {
    -fx-background-color: #ff0000;
}